* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.navbar-links {
  display: flex;
  column-gap: 20px;
}

.navbar-links a {
  text-decoration: none;
  color: #1d232c;
  font-weight: 500;
}

.navbar-links a:hover {
  text-decoration: underline;
  color: #1d232c;
}
.navbar-menu-toggle {
  display: none;
}
.title-heading {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
}

/*Side Navbar*/
.side-navbar {
  height: 100%;
  width: 50%;
  position: fixed;
  top: 0;
  left: -60%;
  background-color: #1d232c;
  color: #ffffff;
  padding: 20px;
  transition: 2s;
}

.side-navbar-link {
  margin-bottom: 30px;
}

.side-navbar-links a {
  text-decoration: none;
  color: #ffffff;
}

.side-navbar-links a:hover {
  text-decoration: underline;
  color: #ffffff;
}

/*Header*/
.header {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 50px;
}

.header-button {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  background-color: #1d232c;
  color: white;
  cursor: pointer;
  border-radius: 0px;
}

.service {
  padding: 20px;
}

.service-container-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service-container-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.service-container-2 div {
  background-color: #f2f4f7;
  border-radius: 5px;
  padding: 10px;
}
.clothes-image {
  height: 90%;
  width: 100%;
}

.new-arrival {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.new-arrival-container {
  position: relative;
  flex-basis: 20%;
}

.new-arrival-button {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 10px;
  color: #1d232c;
  position: absolute;
  top: 50%;
  left: 18%;
  border-radius: 10px;
  border: none;
  flex-direction: end;
}

.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.news input {
  padding: 11px;
  width: 80vw;
  margin-bottom: 10px;
  border: solid black 3px;
}

.news button {
  margin-top: 10px;
  color: #f2f4f7;
  background-color: #1d232c;
  border-radius: 10px;
  padding: 10px;
}

.footer {
  margin-top: 20px;
  padding: 40px;
  background-color: #1d232c;
  color: #f2f4f7;
  text-align: center;
}

.product-section {
  margin-top: 20px;
}

.product-search {
  width: 80%;
  border: solid black 2px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: auto;
}

.product-search input {
  border: none;
  background-color: transparent;
  width: 100%;
}

.product-search input:focus {
  outline: none;
}

.products {
  padding: 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.products-box {
  text-align: center;
  flex-basis: 20%;
}

.product-box img {
  border-radius: 10px;
}

.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  background-color: #1d232c;
  width: 100%;
}

.contact-container {
  background: #3a4654;
  padding: 50px;
  width: 90%;

  margin: 50px;
  border-radius: 12px;
  max-width: 800px;
  max-height: 800px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  color: #fff;
}

.contact-container h2 {
  text-align: center;
  margin-bottom: 25px;
  max-width: 100%;
}

.contact-form label {
  display: block;
  margin: 10px 0 5px;
  font-weight: 500;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  margin-bottom: 15px;
}

.contact-form button {
  width: 50%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.contact-form button:hover {
  background-color: #0056b3;
}

/* Media Query*/

@media screen and (max-width: 700px) {
  .navbar-menu-toggle {
    display: block;
  }
  .navbar-links {
    display: none;
  }
  .header-image {
    display: none;
  }
  .service-container-1 {
    display: none;
  }

  .service-container-2 {
    flex-direction: column;
  }
}
